@use 'theme';

@font-face {
  font-family: 'NotoSans';
  src: url(../assets/fonts/NotoSans-Regular.ttf);
}

body {
  font-family: NotoSans;
}

p {
  font-size: 1.25rem;
  color: theme.$grey;
}

.layout {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
}

.input {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), transparent);
  color: theme.$white;
  height: 5rem;
  font-size: 1.5rem;
  width: -webkit-fill-available;
  border: 0;
  border-radius: 0.5rem;
  padding: 0 2rem;
  &::placeholder {
    color: theme.$white;
  }
  &:focus {
    outline: none;
  }
  @media (max-width: 600px) {
    padding: 0;
  }
}

.text-right {
  text-align: right;
}

.font-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}

.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
    iframe {
      height: 100%;
      width: 100%;
    }
  }
}

.button-icon {
  color: theme.$grey;
  cursor: pointer;
  &:hover {
    color: theme.$red;
  }
}
